<header class="site__header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <nav class="header__menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="header__menu__ul">

        <li class="header__menu__li" id="header__menu__li--activ" itemprop="name">
          <a itemprop="url" href="{{"/zhivotnovodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link" >Животноводство
            <span class="header__menu__span">Копытные, рогатые</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{"/zverovodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Звероводство
            <span class="header__menu__span">Дикие животные</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{"/pticevodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Птицеводство
            <span class="header__menu__span">Куры, Гуси</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{"/rybovodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Рыбоводство
            <span class="header__menu__span">Горбуша, Щука</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{"/marikultura/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Марикультура
            <span class="header__menu__span">Водросли, раки</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{ "/cvetovodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Цветоводство
            <span class="header__menu__span">Ромашки, гвоздики</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{ "/sadovodstvo/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Садоводство
            <span class="header__menu__span">Деревья, Кустарники</span>
          </a>
        </li>
        <li itemprop="name" class="header__menu__li">
          <a itemprop="url" href="{{ "/odomashnennye/index.html"  | prepend: site.baseurl | prepend: site.url}}" class="header__menu__link">Одомашненные
            <span class="header__menu__span">Кошки, Собаки</span>
          </a>
        </li>
      </ul>
    </nav>
</header>
