<aside class="relPost">
<a href="#" class="title__columns">Коровы</a>
<div class="relPost__post">
  <div class="relPost__gradient">
    <img src="http://placehold.it/60X60/455a64/fff" title="Android Will Remain the King of Mobile for At Least 4 More Years" alt="Android Will Remain the King of Mobile for At Least 4 More Years">
  </div>
  <a href="#" class="relPost__link">Как разводить коров </a>
</div>
<div class="relPost__post">
  <div class="relPost__gradient">
    <img src="http://placehold.it/60X60/455a64/fff" title="Android Will Remain the King of Mobile for At Least 4 More Years" alt="Android Will Remain the King of Mobile for At Least 4 More Years">
  </div>
  <a href="#" class="relPost__link">Как разводитьs  коров для души и тела короaв для души и тела коров для души и тела</a>
</div>
</aside>
