// min-width: 600px ++++++++
$widthex: 80%;
@include for-tablet-portrait-up {
  .breadcrumb__ul {
    width: calc(80% - #{$gap});
    margin: 0 auto;
    padding-bottom: 0.3em;
    background-color: transparent;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }

  article {
    padding-top: $gap;
    padding-bottom: $gap;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgba(#e0e0e0, .9);
  }

  .eee-home {
    margin-left: 0;
    margin-right: 0;
    border-radius: 1px;
    padding: 0 $gap;
  }

  .pagination__comment {
    width: 80%;
    background-color: transparent;
    margin: 0 auto;
  }

  .menuRight {
    width: 80%;
    margin: 0 auto;
  }
}
// END min-width: 600px ++++++++
// min-width: 900px - все сайты должны быть заточены под него
@include for-tablet-landscape-up {
  // BASE START min-width: 900px ++++++++

  .breadcrumb__ul {
    width: calc(77% - #{$gap});
    margin: 0 0 0 calc(23% + #{$gap / 4});
  }

  .content {
    width: 77%;
    margin: 0 0 0 23%;
  }

  .menuRight {
    width: 60%;
    margin: 0 17% 0 3%;
    padding-top: $gap;
  }

  .pagination__comment {
    width: 77%;
    margin: 0 0 0 23%;
  }
  // BASE END min-width: 900px ++++++++
}
// min-width: 1200px
@include for-desktop-up {}
// 1800
@include for-big-desktop-up {
  .header__menu__ul{
    font-size: 18px;
  }
  .breadcrumb__ul {
    width: calc(65% - #{$gap});
    margin: 0 0 0 calc(35% + #{$gap / 4});
  }

  article {
    padding-top: $gap;
    padding-bottom: $gap;
    border-radius: 2px;

    font-size: 19px;
  }

  .posts__title {
    font-size: 1.5em !important;
  }

  .content h1 {
    font-size: 31px;
  }

  .content {
    width: 65%;
    margin: 0 0 0 35%;
  }

  .menuRight {
    width: 60%;
    margin: 0 17% 0 3%;
    padding-top: $gap;

    font-size: 18px;
  }

  .pagination__comment {
    width: 65%;
    margin: 0 0 0 35%;
  }
}
