.menuRight{
  display: flex;
  flex-direction: column;

  margin-left: $gap;

  font-size: 17px;

    a{
      align-self: baseline;

      &:hover{
        text-decoration: underline;
      }
    }
}
.title__columns{
  display: flex;

  margin: .5em 0;

  text-transform: uppercase;
  color: rgba(#bdbdbd, .8);
  font-weight: bold;
  font-family: 'Roboto',"Open Sans", sans-serif;
  font-size: 1em;
  text-decoration: none;

  &:after {
    content: none;
    background: linear-gradient(to right,rgba(#2e7d32, .6), color(green, 10));
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    flex-grow: 1;
    margin: calc(1em + 1px) 2px 0 2px;
    border-radius: 2px;
 }
}
.menuRight_categoru{
  margin: .5em 0;

  font-size: .8em;
  text-transform: uppercase;
  // border-bottom: 2px solid color(green, 7);
  font-weight: 700;
  font-family: 'Roboto',"Open Sans", sans-serif;
  text-decoration: none;
  color: rgba(#9e9e9e, .8);
}

.menuRight__podCategoru{

  margin: .3em 0;

  font-family: 'Roboto', "Open Sans", sans-serif;
  color: rgba(#444, .8);
  text-decoration: none;
}

// min-width: 600px ++++++++
@include for-tablet-portrait-up {
  .title__columns{
  }
}

// min-width: 900px - все сайты должны быть заточены под него
@include for-tablet-landscape-up {
  .title__columns{
    font-size: calc(1em - 2px);
    padding-top: $gap;

    &:after {
      content: none;
    }
   }
  .menuRight_categoru{
    font-size: calc(1em - 4px);
   }
  .menuRight__podCategoru{
    font-size: calc(1em - 2px);
   }
}

// min-width: 1200px
@include for-desktop-up {

}
